.home-title-animation .animate-title, .header-anim {
    animation: fade-down 0.5s 0.4s backwards;
}

.fade-down{
    animation: fade-down 0.5s 0.4s backwards;
}

.fade-down-content{
    animation: fade-down 0.2s backwards;
}
.from-left{
    animation: from-left 0.8s backwards;
}
.from-right{
    animation: from-right 0.8s backwards;
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(1);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes from-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}






























