.cursor {
  width: 45px;
  height: 45px;
  backdrop-filter: invert();
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}
.cursor-dot{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  z-index: 1000;
}

/* Petit dot (curseur principal) */
.cursor-dot {
  width: 8px;
  height: 8px;
  background: #fff;
}
